* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    height: min-content;
    opacity: 80%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(19, 112, 187, 1) 0%, rgba(104, 71, 224, 1) 8%, rgba(25, 17, 80, 1) 64%);
}


#titulo {
    letter-spacing: 0.07em;
    text-align: center;
    padding-bottom: 5px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

main {
    flex: 1;
    text-align: center;
}

input {
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bolder;
}

#nav-botao {
    padding: 10px 0;
}

button {
    width: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

button:hover {
    background-color: white;
    color: black;
    transition: 0.4s all;
    cursor: pointer;
}

/* itens */

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
    gap: 3vh
}

.banda {
    font-weight: bold;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30rem;
    width: 30rem;
    padding: 30px;
    margin-bottom: 3rem;
    /* border: 1px solid black; */
}


#img1 {
    width: 40%;
    height: 100%;
    border: solid 1px;
    border-radius: 5px;
    object-fit: cover;


    transform-origin: center;
    transform: perspective(800px) rotateY(35deg);
    transition: 0.5s;
}

#img1:hover {
    width: 70%;
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
}

#img2 {
    width: 40%;
    height: 100%;
    border: solid 1px;
    border-radius: 5px;
    object-fit: cover;


    transform-origin: center;
    transform: perspective(800px) rotateY(35deg);
    transition: 0.5s;
}

#img2:hover {
    width: 70%;
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
}

#img3 {
    width: 40%;
    height: 100%;
    border: solid 1px;
    border-radius: 5px;
    object-fit: cover;


    transform-origin: center;
    transform: perspective(800px) rotateY(35deg);
    transition: 0.5s;
}

#img3:hover {
    width: 70%;
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
}

#item-1 {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    height: 30%;

}

#item-2 {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    height: 30%;
}

#item-3 {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    height: 30%;
}

#item-1:hover {
    width: 60%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#item-2:hover {
    width: 60%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#item-3:hover {
    width: 60%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


li {
    list-style-type: none;
}



footer {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    height: min-content;
    text-align: center;
    opacity: 80%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(19, 112, 187, 1) 0%, rgba(104, 71, 224, 1) 8%, rgba(25, 17, 80, 1) 64%);
}